[user]
	name = Andrew Tretyakov
	email = 42178850+0xAndoroid@users.noreply.github.com
	signingkey = ~/.ssh/github_ed25519.pub
[credential]
	helper = osxkeychain
[core]
	editor = nvim
	hooksPath = ~/.git-hooks
[commit]
	gpgsign = true
[gpg]
	format = ssh
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
