[user]
	signingkey = /Users/andrew/.ssh/id_ecdsa
	name = Andrew Tretyakov
	email = 169074262+0xAndoroid-cube@users.noreply.github.com
[commit]
	gpgsign = false
[gpg]
	format = ssh
[core]
	editor = nvim
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = neovim
[merge]
	tool = nvim
